/*
FontDiao v0.0.3
By Lex Tang <via http://lexrus.github.com/fontdiao>
Font Custom - icon webfonts made simple
*/

@font-face {
  font-family: "fontdiao";
  src: url("../font/fontdiao.eot?#iefix") format("embedded-opentype"),
       url("../font/fontdiao.woff") format("woff"),
       url("../font/fontdiao.ttf") format("truetype"),
       url("../font/fontdiao.svg#fontdiao") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
Bootstrap Overrides
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontdiao", "FontAwesome" !important;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.333em;
}

/* keeps button heights with and without icons the same */
.btn [class^="icon-"], .btn [class*=" icon-"] {
  line-height: 0.9em;
}

li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

/* 1.5 increased font size for icon-large * 1.25 width */
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  width: 1.875em;
}

li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}

li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}

li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.333em;
}

/*
Icon Classes
*/


.icon-360buy:before { content: "\f100"; }
.icon-360yunpan:before { content: "\f101"; }
.icon-51buy:before { content: "\f102"; }
.icon-58:before { content: "\f103"; }
.icon-alibaba:before { content: "\f104"; }
.icon-alipay:before { content: "\f105"; }
.icon-baidu:before { content: "\f106"; }
.icon-baiduyun:before { content: "\f107"; }
.icon-buluo:before { content: "\f108"; }
.icon-cctv:before { content: "\f109"; }
.icon-ctrip:before { content: "\f10a"; }
.icon-dangdang:before { content: "\f10b"; }
.icon-dazhong:before { content: "\f10c"; }
.icon-dianxin:before { content: "\f10d"; }
.icon-dongfangweishi:before { content: "\f10e"; }
.icon-douban:before { content: "\f10f"; }
.icon-fanfou:before { content: "\f110"; }
.icon-fangzheng:before { content: "\f111"; }
.icon-feixin:before { content: "\f112"; }
.icon-fenghuangweishi:before { content: "\f113"; }
.icon-ganji:before { content: "\f114"; }
.icon-jianguoyun:before { content: "\f115"; }
.icon-kanbox:before { content: "\f116"; }
.icon-kds:before { content: "\f117"; }
.icon-kuangpai:before { content: "\f118"; }
.icon-kx001:before { content: "\f119"; }
.icon-letv:before { content: "\f11a"; }
.icon-lianmeng:before { content: "\f11b"; }
.icon-liantong:before { content: "\f11c"; }
.icon-miliao:before { content: "\f11d"; }
.icon-orca:before { content: "\f11e"; }
.icon-pps:before { content: "\f11f"; }
.icon-qicheren:before { content: "\f120"; }
.icon-qq:before { content: "\f121"; }
.icon-qzone:before { content: "\f122"; }
.icon-renren:before { content: "\f123"; }
.icon-shanghaidianshitai:before { content: "\f124"; }
.icon-taobao:before { content: "\f125"; }
.icon-tengxunshipin:before { content: "\f126"; }
.icon-tengxunweibo:before { content: "\f127"; }
.icon-tmall:before { content: "\f128"; }
.icon-tudou:before { content: "\f129"; }
.icon-v2ex:before { content: "\f12a"; }
.icon-wangyi:before { content: "\f12b"; }
.icon-weibo:before { content: "\f12c"; }
.icon-weifeng:before { content: "\f12d"; }
.icon-xunlei:before { content: "\f12e"; }
.icon-yamaxun:before { content: "\f12f"; }
.icon-yihaodian:before { content: "\f130"; }
.icon-yinlian:before { content: "\f131"; }
.icon-youdao:before { content: "\f132"; }
.icon-youku:before { content: "\f133"; }
.icon-youzhen:before { content: "\f134"; }
.icon-yunio:before { content: "\f135"; }
.icon-zhenai:before { content: "\f136"; }
