//
// Icon Font: fontdiao
//

@font-face {
  font-family: "fontdiao";
  src: url("../font/fontdiao.eot");
  src: url("../font/fontdiao.eot?#iefix") format("embedded-opentype"),
       url("../font/fontdiao.woff") format("woff"),
       url("../font/fontdiao.ttf") format("truetype"),
       url("../font/fontdiao.svg#fontdiao") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-360yunpan:before,
.icon-58:before,
.icon-alibaba:before,
.icon-alipay:before,
.icon-baidu:before,
.icon-baiduyun:before,
.icon-cctv:before,
.icon-ctrip:before,
.icon-dangdang:before,
.icon-dazhong:before,
.icon-dianxin:before,
.icon-dongfangweishi:before,
.icon-douban:before,
.icon-fanfou:before,
.icon-fangzheng:before,
.icon-feixin:before,
.icon-fenghuangweishi:before,
.icon-ganji:before,
.icon-gongshangyinhang:before,
.icon-jd:before,
.icon-jiansheyinhang:before,
.icon-jiaotongyinhang:before,
.icon-kuandaishan:before,
.icon-kx001:before,
.icon-letv:before,
.icon-liantong:before,
.icon-lianxiang:before,
.icon-miliao:before,
.icon-pps:before,
.icon-qq:before,
.icon-qzone:before,
.icon-renminyinhang:before,
.icon-renren:before,
.icon-shanghaidianshitai:before,
.icon-shanghaiyinhang:before,
.icon-taobao:before,
.icon-tengxunweibo:before,
.icon-tmall:before,
.icon-tudou:before,
.icon-v2ex:before,
.icon-wangyi:before,
.icon-wangyiweibo:before,
.icon-weibo:before,
.icon-weifeng:before,
.icon-xinyeyinhang:before,
.icon-xunlei:before,
.icon-yihaodian:before,
.icon-yilong:before,
.icon-yinlian:before,
.icon-yixun:before,
.icon-youdao:before,
.icon-youku:before,
.icon-youzhen:before,
.icon-zhaoshangyinhang:before,
.icon-zhenai:before,
.icon-zheshangyinhang:before,
.icon-zhongguoyinhang:before,
.icon-zhongxinyinhang:before {
  font-family: "fontdiao";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-360yunpan:before { content: "\f100"; }
.icon-58:before { content: "\f101"; }
.icon-alibaba:before { content: "\f102"; }
.icon-alipay:before { content: "\f103"; }
.icon-baidu:before { content: "\f104"; }
.icon-baiduyun:before { content: "\f105"; }
.icon-cctv:before { content: "\f106"; }
.icon-ctrip:before { content: "\f107"; }
.icon-dangdang:before { content: "\f108"; }
.icon-dazhong:before { content: "\f109"; }
.icon-dianxin:before { content: "\f10a"; }
.icon-dongfangweishi:before { content: "\f10b"; }
.icon-douban:before { content: "\f10c"; }
.icon-fanfou:before { content: "\f10d"; }
.icon-fangzheng:before { content: "\f10e"; }
.icon-feixin:before { content: "\f10f"; }
.icon-fenghuangweishi:before { content: "\f110"; }
.icon-ganji:before { content: "\f111"; }
.icon-gongshangyinhang:before { content: "\f112"; }
.icon-jd:before { content: "\f113"; }
.icon-jiansheyinhang:before { content: "\f114"; }
.icon-jiaotongyinhang:before { content: "\f115"; }
.icon-kuandaishan:before { content: "\f116"; }
.icon-kx001:before { content: "\f117"; }
.icon-letv:before { content: "\f118"; }
.icon-liantong:before { content: "\f119"; }
.icon-lianxiang:before { content: "\f11a"; }
.icon-miliao:before { content: "\f11b"; }
.icon-pps:before { content: "\f11c"; }
.icon-qq:before { content: "\f11d"; }
.icon-qzone:before { content: "\f11e"; }
.icon-renminyinhang:before { content: "\f11f"; }
.icon-renren:before { content: "\f120"; }
.icon-shanghaidianshitai:before { content: "\f121"; }
.icon-shanghaiyinhang:before { content: "\f122"; }
.icon-taobao:before { content: "\f123"; }
.icon-tengxunweibo:before { content: "\f124"; }
.icon-tmall:before { content: "\f125"; }
.icon-tudou:before { content: "\f126"; }
.icon-v2ex:before { content: "\f127"; }
.icon-wangyi:before { content: "\f128"; }
.icon-wangyiweibo:before { content: "\f129"; }
.icon-weibo:before { content: "\f12a"; }
.icon-weifeng:before { content: "\f12b"; }
.icon-xinyeyinhang:before { content: "\f12c"; }
.icon-xunlei:before { content: "\f12d"; }
.icon-yihaodian:before { content: "\f12e"; }
.icon-yilong:before { content: "\f12f"; }
.icon-yinlian:before { content: "\f130"; }
.icon-yixun:before { content: "\f131"; }
.icon-youdao:before { content: "\f132"; }
.icon-youku:before { content: "\f133"; }
.icon-youzhen:before { content: "\f134"; }
.icon-zhaoshangyinhang:before { content: "\f135"; }
.icon-zhenai:before { content: "\f136"; }
.icon-zheshangyinhang:before { content: "\f137"; }
.icon-zhongguoyinhang:before { content: "\f138"; }
.icon-zhongxinyinhang:before { content: "\f139"; }
